<footer class="footer has-background-dark">
    <div>
        <p class="has-text-white">This page was created by Giuseppe Figliuolo to test EXPRESS on NodeJS - 20-Maggio-2020
        </p>
    </div>
</footer>