<header class="section">
    <h1 class="title is-1 is-spaced">{{title}}</h1>

    <div class="navbar">
        <button class="button"><a href="/">Weather</a></button>
        <button class="button"><a href="/about">About</a></button>
        <button class="button"><a href="/help">Help</a></button>
    </div>
</header>